:root
{
    font-size: 15px;

    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

body
{
    align-items: center;
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Blue);
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    min-height: 100vh;
}

.header
{
    text-align: center;
    margin-top: 60px;
    max-width: 350px;
    width: 86%;
}

@media screen and (min-width: 900px)
{
    .header
    {
        margin-top: 0;
        max-width: 550px;
    }
}

.header__title, .header__subtitle
{
    font-size: 1.6rem;
}

@media screen and (min-width: 900px)
{
    .header__title, .header__subtitle
    {
        font-size: 2.5rem;
    }
}

.header__title
{
    font-weight: 200;
    margin-bottom: 0;
}

.header__subtitle
{
    margin-top: 12px;
}

.header__paragraph, .card__description
{
    color: var(--Grayish-Blue);
}

.header__paragraph
{
    font-size: 1.05rem;
    line-height: 1.8rem;
}

.cards
{
    display: grid;
    margin-top: 50px;
    place-items: center;
    width: 86%;
}

@media screen and (min-width: 900px)
{
    .cards
    {
        column-gap: 30px;
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
    }
}

@media screen and (min-width: 1300px)
{
    .cards
    {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1120px;
    }
}

.card
{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 10px var(--Grayish-Blue);
    box-sizing: border-box;
    margin-bottom: 25px;
    max-width: 350px;
    overflow: hidden;
    padding: 10px 30px 30px 30px;
    position: relative;
    width: 100%;
}

.card::before
{
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card--supervisor::before
{
    background-color: var(--Cyan);
}

@media screen and (min-width: 1300px)
{
    .card--supervisor
    {
        top: 50%;
    }
}

.card--teambuilder::before
{
    background-color: var(--Red);
}

.card--karma::before
{
    background-color: var(--Orange);
}

@media screen and (min-width: 1300px)
{
    .card--karma
    {
        grid-column: 2 / 3;
    }
}

.card--calculator::before
{
    background-color: var(--Blue);
}

@media screen and (min-width: 1300px)
{
    .card--calculator
    {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        top: 50%;
    }
}

.card__title
{
    font-size: 1.4rem;
    margin-bottom: 0;
}

.card__description
{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 25px;
}

@media screen and (min-width: 900px)
{
    .card__description
    {
        margin-bottom: 50px;
    }
}

.card__img
{
    display: block;
    margin-left: auto;
    max-width: 22%;
}